div
{
    font-weight: 700;
    height:80vh;
    width:500px;
    padding:50px;
    margin:auto;
    border-radius:5px;
}
h1
{
    text-align:center;
}

.btn{
   text-align: center;
   opacity: 0;
}

body
{
    background-image:url("pic2.avif");
    background-size:cover;
}

.new{
    text-align: center;
    opacity: 1;
 }


